<section class="row">
    <div class="col-6">
        <h1>Puntuacion Base</h1>
        <br>
        <h1>{{data?.id}}</h1>
        <img src="../../../../../../../assets/imagenes/carisma.png" alt="carisma">
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Numero maximo de seguidores</h4>
                    <br>
                    <h4>{{data?.maxseguidores}}</h4>
                </div>
                <div class="row">
                    <p>{{this.seguidores}}</p>
                </div>

            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Lealtad de los seguidores</h4>
                    <br>
                    <h4>{{data?.lealtad}}</h4>
                </div>
                <div class="row">
                    <p>{{this.lealtad}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Ajuste reaccion</h4>
                    <br>
                    <h4>{{data?.reaccion}}</h4>
                </div>
                <div class="row">
                    <p>{{this.reaccion}}</p>
                </div>

            </div>
        </div>
    </div>

</section>
