  <div #sidebar class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="menulateral" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header mt-4">
      <h5 class="offcanvas-title" id="offcanvasTitle">Menu AD&D</h5>
      <button type="button" class="btn-close text-reset" (click)="this.toggleOffcanvas()" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a routerLink="ficha" routerLinkActive="active">Ficha de personaje</a></li>
        <li class="list-group-item">Hechizos</li>
        <li class="list-group-item">Compendio de monstruos</li>
      </ul>
    </div>
  </div>