.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* Cambia el ícono a negro */
}

.border-red {
    border: 5px solid red;
    box-sizing: border-box; /* Asegura que el borde no afecte el tamaño del contenedor */
  }
.text-center {
  text-align: center;
}
