<section class="row">
    <div class="col-6">
        <h1>Puntuacion Base</h1>
        <br>
        <h1>{{data?.puntuacionBase}}</h1>
        <img src="../../../../../../../assets/imagenes/armadura.png" alt="armadura">
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Puntos de Golpe</h4>
                    <br>
                    <h4>{{data?.ajusteGolpe}}</h4>
                </div>
                <div class="row">
                    <p>{{ajusteGolpe}}</p>
                </div>
    
            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Shock del sistema</h4>
                    <br>
                    <h4>{{data?.colapso}}</h4>
                </div>
                <div class="row">
                    <p>{{shock}}</p>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Supervivencia a resurreccion</h4>
                    <br>
                    <h4>{{data?.resurreccion}}</h4>
                </div>
                <div class="row">
                    <p>{{resureccion}}</p>
                </div>
    
            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Resistencia a venenos</h4>
                    <br>
                    <h4>{{data?.resistenciaVeneno}}</h4>
                </div>
                <div class="row">
                    <p>{{veneno}}</p>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Regeneracion</h4>
                    <br>
                    <h4>{{data?.regeneracion}}</h4>
                </div>
                <div class="row">
                    <p>{{regeneracion}}</p>
                </div>
    
            </div>
            
        </div>
    </div>

</section>