<section class="row">
    <div class="col-6">
        <h1>Puntuacion Base</h1>
        <br>
        <h1>{{data?.puntuacionBase}}</h1>
        <img src="../../../../../../../assets/imagenes/arco.png" alt="arco">
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Ajuste Reaccion</h4>
                    <br>
                    <h4>{{data?.reaccion}}</h4>
                </div>
                <div class="row">
                    <p>{{this.reaccion}}</p>
                </div>
    
            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Ajuste Proyectiles</h4>
                    <br>
                    <h4>{{data?.proyectil}}</h4>
                </div>
                <div class="row">
                    <p>{{this.ajusteProyectiles}}</p>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Ajuste defensivo</h4>
                    <br>
                    <h4>{{data?.defensa}}</h4>
                </div>
                <div class="row">
                    <p>{{this.ajusteDefensivo}}</p>
                </div>
    
            </div>            
        </div>
    </div>

</section>