<section class="row">
    <div class="col-6">
        <h1>Puntuacion Base</h1>
        <br>
        <h1>{{data?.puntuacionBase}}</h1>
        <img src="../../../../../../../assets/imagenes/DALL·E 2025-01-23 22.19.59 - A detailed depiction of a medieval fantasy sword, designed as if from a Dungeons & Dragons universe. The blade is intricate and engraved with mystical.webp" alt="espada">
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Probabilidad impacto</h4>
                    <br>
                    <h4>{{data?.probimpacto}}</h4>
                </div>
                <div class="row">
                    <p>{{probImpacto}}</p>
                </div>
    
            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Ajuste de Daño</h4>
                    <br>
                    <h4>{{data?.ajusteDano}}</h4>
                </div>
                <div class="row">
                    <p>{{ajusteDano}}</p>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Peso autorizado</h4>
                    <br>
                    <h4>{{data?.pesoTranspor}}</h4>
                </div>
                <div class="row">
                    <p>{{pesoAuth}}</p>
                </div>
    
            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Esfuerzo Maximo</h4>
                    <br>
                    <h4>{{data?.pesoMaximo}}</h4>
                </div>
                <div class="row">
                    <p>{{esfuerzoMax}}</p>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Abrir Puertas</h4>
                    <br>
                    <h4>{{data?.abrirPuertas}}</h4>
                </div>
                <div class="row">
                    <p>{{abrirPuertas}}</p>
                </div>
    
            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Doblar barras/Alzar Puertas</h4>
                    <br>
                    <h4>{{data?.doblarBarras}}</h4>
                </div>
                <div class="row">
                    <p>{{doblar}}</p>
                </div>                
            </div>
        </div>
    </div>

</section>