<section class="row">
    <div class="col-6">
        <h1>Puntuacion Base</h1>
        <br>
        <h1>{{data?.id}}</h1>
        <img src="../../../../../../../assets/imagenes/inteligencia.png" alt="inteligencia">
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Idiomas conocidos</h4>
                    <br>
                    <h4>{{data?.idiomas}}</h4>
                </div>
                <div class="row">
                    <p>{{this.idiomas}}</p>
                </div>

            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Nivel Maximo de Conjuros</h4>
                    <br>
                    <h4>{{data?.nivelConjuro}}</h4>
                </div>
                <div class="row">
                    <p>{{this.nivelConjuros}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Oportunidad de aprender conjuros</h4>
                    <br>
                    <h4>{{data?.nuevosConjuros}}</h4>
                </div>
                <div class="row">
                    <p>{{this.aprender}}</p>
                </div>

            </div>
            <div class="col-6">
                <div class="row">
                    <h4>Numero maximo de conjuros</h4>
                    <br>
                    <h4>{{data?.maxConjuros}}</h4>
                </div>
                <div class="row">
                    <p>{{maxConjuros}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h4>Inmunidad a ilusiones</h4>
                    <br>
                    <h4>{{data?.ilusiones}}</h4>
                </div>
                <div class="row">
                    <p>{{this.inmunidad}}</p>
                </div>

            </div>

        </div>
    </div>

</section>
