:root {
    --primary: #4253F0;
    --primary-dark: rgb(84, 3, 247);
    --headline: #020202;
    --text: #8893A5;
    --white: #FFFFFF;
    --bg: #FFFFFF;
    --error: #FF5C5C;
    --border: #DDEAF3;
}




.lines {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    font-weight: bold;
    align-items: center;
}

.line {
    height: 2px;
    flex: 1;
    background: var(--border);
}
.custom-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.custom-row h1 {
    color: var(--headline);
}

.custom-row input, button {
    flex: 0 0 50%;
    align-items: center;
    margin: 30px;
}


.my-form__actions {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.my-form__actions a {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
}

.my-form__actions a:hover {
    text-decoration: underline;
}

.my-form__row {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}