@font-face {
    font-family: 'FrizQuadrataBold';
    src: url('./assets/fuentes/FrizQuadrata-Bold.otf') format('opentype'); /* OTF como último recurso */
}

h1, h2, h3, h4, h5, h6, label {
    font-family: 'FrizQuadrataBold', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
