<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSteps">
                <ul class="navbar-nav w-100 d-flex justify-content-between">
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="this.step() == 0 ? 'active' : 'disabled'" aria-current="page" href="#">Tiradas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="this.step() == 1 ? 'active' : 'disabled'" href="#">Raza</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="this.step() == 2 ? 'active' : 'disabled'"aria-disabled="true">Categoria</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="this.step() == 3 ? 'active' : 'disabled'" aria-disabled="true">Alineamiento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="this.step() == 5 ? 'active' : 'disabled'" aria-disabled="true">Datos Jugador</a>
                  </li>
                  @if (this.isMago()) {
                    <li class="nav-item">
                      <a class="nav-link"[ngClass]="this.step() == 4 ? 'active' : 'disabled'" aria-disabled="true">Hechizos</a>
                    </li>
                  }
                </ul>
              </div>
            </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if(this.step() == 0){
                  <app-tiradas [personaje]="this.personaje" (valorEmmit)="this.actualizaPersonaje($event)"></app-tiradas>
                }
                @if(this.step() == 1){
                  <app-raza/>
                }
                @if(this.step() == 2){
                  <app-categorias></app-categorias>
                }
                @if(this.step() ==3){
                  <app-alineamiento/>
                }
                @if(this.step() ==4){
                <app-datosjugador/>
                }
                @if(this.showPrevious){
                    <button type="submit" class="btn btn-primary mt-2" (click)="anterior()">anterior</button>
                }
                <button type="submit" class="btn btn-primary mt-2 ms-2" id="siguiente" [disabled]="!servicio.datosCargados()"  (click)="siguiente()">siguiente</button>
            </div>
        </div>
    </div>


</div>
